<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.vaadin.touchkit.demo"
	version 	= "1.0.0-SNAPSHOT">

	<name>Vaadin cordova app</name>

	<description>
		Vaadin Demo Mobile App
	</description>

	<author href="http://manolo.github.com"
		email="manolo@vaadin.com">
		Manolo Carrasco Moñino
	</author>

	<icon src="icon.png" gap:role="default" />

	<preference name="stay-in-webview" value="true" />
	<access origin="*" />

       <gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />


</widget>
